<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Home</title>
    <link href="__PUBLIC__{$Think.config.bootstrap_css}" rel="stylesheet">
    <script src="__PUBLIC__{$Think.config.jquery_js}"></script>
    <script src="__PUBLIC__{$Think.config.bootstrap_js}"></script>
    <script src="__PUBLIC__/js/home-dataload.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px;">
	        <img alt="Brand" src="__PUBLIC__/img/logo.gif" style="width:100px;height:50px;"/>
	      </a>
	    </div>
	  </div>
	</nav>

	<div class="container" style="padding-top:20px;">
		<form class="form-horizontal" action="/lib/index.php/Home/Search/index" method="get" id="normalSearch" target="_blank">
			<div class="col-md-6 col-md-offset-2">
			    <input type="text" class="form-control col-md-8" id="keyword" name="keyword" placeholder="书名/作者/ISBN" required>
			</div>
			<button type="submit" class="btn btn-info" vaule="search" id="searchBtn"><span class="glyphicon glyphicon-search"></span>Search</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">advanced</button>
      	</form>  
              <!-- 模态框（Modal） -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
                 aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                       <div class="modal-header">
                          <button type="button" class="close" 
                             data-dismiss="modal" aria-hidden="true">
                                &times;
                          </button>
                          <h4 class="modal-title" id="myModalLabel">
                             高级查询
                          </h4>
                       </div>
                       <div class="modal-body">
                       <!--============================================================================================-->
                          	<form role="form" class="form-horizontal" action="/lib/index.php/Home/Search/index" method="get" id="advSearch" target="_blank">
                          		<div class="form-group">
                                  	<label for="title" class="col-sm-offset-1 col-sm-2 control-label">书名</label>
                                  	<div class="col-sm-6">
                                  		<input type="text" class="form-control" name="title" id="title" />
                                  	</div>
                                 </div>
                                 <div class="form-group">
                                  	<label for="author" class="col-sm-offset-1 col-sm-2 control-label">作者</label>
                                  	<div class="col-sm-6">
                                  		<input type="text" class="form-control" name="author" id="author" />
                                  	</div>
                                 </div>
                                 <div class="form-group">
                                  	<label for="isbn" class="col-sm-offset-1 col-sm-2 control-label">ISBN</label>
                                  	<div class="col-sm-6">
                                  		<input type="text" class="form-control" name="isbn" id="isbn" />
                                  	</div>
                                 </div>
                                 <div class="form-group">
                                    <label for="publisher" class="col-sm-offset-1 col-sm-2 control-label">出版社</label>
                                    <div class="col-sm-6">
	                                    <select class="form-control" id="publisher" name="publisher">
	                                    	<option value="">不限</option>
	                                    </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="type" class="col-sm-offset-1 col-sm-2 control-label">类型</label>
                                    <div class="col-sm-6">
	                                    <select class="form-control" id="type" name="type">
	                                    	<option value="">不限</option>
	                                    </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="pricefrom" class="col-sm-offset-1 col-sm-2 control-label">价格区间</label>
                                    <div class="col-sm-7">
                                      <input type="text" id="pricefrom" name="pricefrom" class="input-text input-price" data-title="价格不低于"/> -
                                      <input type="text" id="priceto" name="priceto" class="input-text input-price" data-title="价格不高于" />
                                    </div>
                                    <div class="col-sm-2 text-danger" id="tip"></div>
                                 </div>
                              </form>
                       </div>
                       <div class="modal-footer">
                          <button type="button" class="btn btn-default" 
                             data-dismiss="modal">取消
                          </button>
                          <button type="button" class="btn btn-primary" id="advSearchBtn">
                             确定
                          </button>
                       </div>
                    </div><!-- /.modal-content -->
              </div><!-- /.modal -->
			</div> 
	</div>
    
  <div class="container" style="padding-top:50px;">
      <div class="row">
          <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked nav-tabs col-md-8 text-center" id="categories">
              </ul>
          </div>
  
          <div class="col-md-6 well text-center tab-content" id="myType">
          </div>
  
          <div class="col-md-4 text-center">
              <ul class="nav nav-tabs" id="myTab">
                <li role="presentation" class="active"><a href="#news" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span>&nbsp;最新新闻</a></li>
                <li><a href="#newbook" data-toggle="tab"><span class="glyphicon glyphicon-book"></span>&nbsp;新书推荐</a></li>
                <li><a href="#hotbook" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;热门书籍</a></li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade in active" id="news">
                  <ul class="list-group">
                  </ul>
                </div>
                <div class="tab-pane fade" id="newbook">
                  <ul class="list-group">
                  </ul>
                </div>
                <div class="tab-pane fade" id="hotbook">
                  <ul class="list-group">
                  </ul>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <p style="height:100px;">&nbsp;</p>
  </div>
	<div class="well navbar navbar-fixed-bottom" style="margin-bottom:0;">
		<span class="center-block text-center"><a 
            	onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('index.html');" 
            	href="index.html">设为首页</a>　|&nbsp;&nbsp; <a href="http://url.cn/SZkzYc">加入我们</a> <br/>
      			Copyright @ 毅行者<br></span>
	</div>
</body>
</html>
